<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div>
    <h2 class="show-header">Showing <%= "#{@project.user.full_name}'s Project Details" %></h2>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-8 text-right">
      <%= @project.submit%>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Project details:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= truncate(@project.submit, length: 50) %>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Submitted!</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @project.submit_date %>
    </div>
  </div>
  <br>
  <br>
  <div class="col-xs-12 col-md-10 member">
    <%= link_to 'Back', user_projects_path(current_user),
      class: "btn btn-success btn-lg link", id: "back-btn" %>
  </div>
</div>
